<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include components/_meta %>
    <title><%= global.sitename %></title>
    <link href="./assets/styles/main.css" rel="stylesheet">
</head>
<body>
    <%- include components/_header %>
    <%- include components/_nav %>
    <%- include components/_footer %>
</body>
<script src="./assets/scripts/main.js"></script>
</html>